<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-end">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Events
                </div>
                <h2 class="page-title">
                    Manage Events
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="page-body">

    <div class="container-xl">
        <div class="row row-deck row-cards" id="dashboard-hero-container">
        </div>
        <div class="row row-deck row-cards mt-1">
            <div class="col-lg-6" id="activity-container">
                here events will fall
            </div>
            <div class="col-lg-6" id="journey-container">
            </div>
        </div>
    </div>
</div>