<!DOCTYPE html>
<html>

<head>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f7; color: #333333; margin: 0; padding: 0;">
  <div style="width: 90%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
    <h2 style="color: #333333;">Login Link</h2>
    <p style="color: #333333;">Assalam o Alaikum, {{name}},</p>
    <p style="color: #333333;">Click on below link to login to your dashboard.</p>
    <a href="{{magicLink}}"
      style="display: inline-block; padding: 10px 20px; margin-top: 5px; margin-bottom: 20px; background-color: #0154A6; color: #ffffff; text-decoration: none; border-radius: 4px;">
      Click Here</a>
    <p style="color: #333333; line-height: 1.5rem">If you didn’t request this, please ignore this email.</p>
    <p style="color: #333333; line-height: 1.5rem">Thank you, <br> 
    <a href="https://ilearninghubb.com" style="text-decoration: none; color: #007A78">iLearningHubb.com</a></p>
  </div>
</body>

</html>